<html ng-app="cooking">
<body>
  <form>
    Username:
    <input ng-model="user.name"/>
    <br>
    Password:
    <input ng-model="user.password"/>
    <br>
    email:
    <input ng-model="user.email"/>
    <br>
    <input type="submit" ng-click="addUser(user)" value="Register"/>
    <input type="submit" ng-click="resetUser(user)" value="Reset"/>
  </form>

  <li ng-controller="CookingRegisterCtrl" ng-repeat="user in users track by $index">{{ user | json}}</li>
  <h1 ng-controller="mainController">{{ var }}</h1>
</body>
</html>
