<html ng-app="cooking">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<body>
    <form id="signup_form" accept-charset="utf-8" method="post" action="">
        <div class="modal-body">
           <div class="row">
            <div class="col-sm-12">
                <div class="row">
                   <div class="col-sm-6">
                       <div class="form-group">
                           First Name:<input id="first_name" class="form-control" type="text" placeholder="First Name" value="" name="first_name" ng-model="user.first_name" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            Last Name:<input id="last_name" class="form-control" type="text" placeholder="Last Name" value="" name="last_name" ng-model="user.last_name" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    Email:<input id="email" class="form-control" type="text" placeholder="Email" value="" name="email" ng-model="user.email" />
                </div>
                <div class="row">
                    <div class="col-xs-7">
                        <div class="form-group">
                            Password:<input id="password" class="form-control" type="password" placeholder="Password" value="" name="password" ng-model="user.password"/>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <input class="btn btn-primary form-control" type="submit" value="Sign Up" name="submit" ng-click="addUser(user)" />
                    </div>
                </div>
            </div>

            <input type="submit" ng-click="resetUser(user)" value="Reset"/>
          </div>
        </div>
    </form>

  <li ng-controller="CookingRegisterCtrl" ng-repeat="user in users track by $index">{{ user | json}}</li>
  <h1 ng-controller="mainController">{{ var }}</h1>

</body>
</html>
